body {
  font-family: 'Verdana', 'Open Sans', sans-serif;
}

.placeholder {
  outline: 1px dotted red;
}

.game {
}

.main {
  margin-left: 160px;
}

div.left-column {
  width: 150px;
  float: left;
}

table.player-list {
  margin: 0px;
}

table.player-list tr.dead {
  color: #ccc;
}

table.player-list tr.turn {
  background-color: #ffc;
}

table.player-list td {
  border-bottom: 1px dotted #ddd;
}

td.player-name {
  text-align: left;
}

td.player-score {
  text-align: right;
  padding: 2px 4px 2px 4px;
}

canvas {
  border: 1px solid #ccc;
}

ul.toolbox {
  list-style-type: none;
  padding: 0px;
  margin: 5px 0px 5px 0px;
}

ul.toolbox li {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 5px;
}

ul.toolbox li.active {
  border: 3px solid black;
}

ul.toolbox li.inactive {
  border: 3px solid white;
}

/*
 * vim: ts=2 sts=2 sw=2 et
 */
