body {
  font-family: 'Verdana', 'Open Sans', sans-serif;
}

.placeholder {
  outline: 1px dotted red;
}

.game {
}

div.main {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 10px;
}

div.left-column {
  width: 150px;
  display: inline-block;
  vertical-align: top;
}

div.right-column {
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

div.chat ul {
  list-style-type: none;
  padding-left: 0px;
}

div.chat span.name {
  font-weight: bold;
}

div.chat span.name:after {
  content: ": "
}

div.chat span.text {
}

div.chat li.chat {
  /* nothing special */
}

div.chat li.correct-guess {
  background: #00FF00;
}

div.chat input {
  width: 100%;
}

table.player-list {
  margin: 0px;
}

table.player-list tr.dead {
  color: #ccc;
}

table.player-list tr.turn {
  background-color: #ffc;
}

table.player-list td {
  border-bottom: 1px dotted #ddd;
}

td.player-name {
  text-align: left;
}

td.player-score {
  text-align: right;
  padding: 2px 4px 2px 4px;
}

canvas {
  border: 1px solid #ccc;
}

ul.toolbox {
  list-style-type: none;
  padding: 0px;
  margin: 5px 0px 10px 0px;
  max-width: 800px;
}

ul.toolbox li {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-clip: content-box;
  padding: 2px;
  margin: 0px 5px 0px 0px;
}

ul.toolbox li.active {
  border: 3px solid black;
}

ul.toolbox li.inactive {
  border: 3px dashed #ccc;
}

/*
 * vim: ts=2 sts=2 sw=2 et
 */
